.bg-overlay {
    background: linear-gradient(rgba(39,55,70,1), rgba(0,0,0,0)), url("../assets/IMG_0922Lila Blumen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height:700px;
    padding-top: 50px;

}

.anyclass {
  background: #ddd;
  color: #444;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  display: block;
}

#star {
  text-align: center;
  font-size: 100px;
  line-height: 500px;
  color: #ddd;
}
body {
  overflow-x: hidden;
  padding-top: 50px;
}
